<div bsModal #addSupplierModal="bs-modal" class="modal generic-modal-comp fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!--MODAL CONTENT -->
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="text-center" class="modal-title"><b>Add Supplier</b></h4>
      </div>
      <div class="modal-body">
     <div [formGroup]="browseForm">
      <fieldset class="section-content">
        <legend>
          <h5>PERSONAL DETAILS</h5>
        </legend>
        <div class="row form-horizontal">
        <div class="col-md-6">
      
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="supplierCode">Supplier Code</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="code"  type="text" class="form-control">
                  </div>
             </div>
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="description">Description</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="description"  type="text" class="form-control">
                  </div>
             </div> 

              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="telephone">Telephone</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="telephone"  type="text" class="form-control">
                  </div>
             </div> 
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="fax">Fax</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="fax"  type="text" class="form-control">
                  </div>
             </div> 
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="initialBalance">Initial Balance</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="initial_balance"  type="text" class="form-control">
                  </div>
             </div> 
         
            
         </div>

          <div class="col-md-6">
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="address">Address</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="address_1"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="address2">Address 2</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="address_2"  type="text" class="form-control">
                  </div>
             </div> 
          
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="email">Email</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="email"  type="text" class="form-control">
                  </div>
             </div> 
          
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="terms">Terms</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="terms"  type="text" class="form-control">
                  </div>
             </div> 
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="remaining">Remaining</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="remaining"  type="text" class="form-control">
                  </div>
             </div> 
         </div>
         </div>
      </fieldset>
    </div>
  
      </div>
      <div class="modal-footer">
        <div>
          <ng-container >
              <button class="btn btn-default" (click)="hide()">Close</button>
             <button class="btn btn-primary" (click)="addSupplier()">Add Supplier</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
