<div bsModal #genericModal="bs-modal" class="modal generic-modal-comp fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <!--MODAL CONTENT -->
    <div class="modal-content">
      <div class="modal-header">
         <div *ngIf="type === 'success'"class="logo-container"><div class="logo glyphicon glyphicon-ok-circle" ></div></div>
         <div *ngIf="type === 'confirmation'"class="logo-container"><div class="logo glyphicon glyphicon-info-sign" ></div></div>
         <div *ngIf="type === 'error'"class="logo-container"><div class="logo glyphicon glyphicon-remove-circle" ></div></div>
         <h4 class="text-center" class="modal-title"><b>{{title}}</b></h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <h4 *ngIf="!htmlMessage">{{transactionMessage}}</h4>
        <h4 *ngIf="htmlMessage" [innerHTML]="transactionMessage"></h4>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <ng-container *ngFor="let button of processButtons()" >
             <button *ngIf="button.buttonEmit" class="btn btn-default" (click)="hide(); emit(button.buttonType)">{{button.buttonName}}</button>
             <button *ngIf="!button.buttonEmit" class="btn btn-default" (click)="hide()">{{button.buttonName}}</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>