<div class="header">

    <img class="header-logo pull-left" style="margin-left:25px; float:left;" src="assets/img/haphieng-logo.png" 
    />


    <ul id="top-nav" style="margin: 8px 0" style="margin-right:25px; margin-top:10px" class="pull-right">
        <li *ngIf="forceChange !== 'yes'">
            <div *ngIf="!losUser" class="dropdown" dropdown>
                <button id="top-nav-button" style="margin-top:9px; margin-right:8px; border-style:none; border-right-style:solid; background-color:transparent;  outline: none !important;
                        box-shadow: none; " class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                    dropdown-open><span class="fa fa-user"></span> {{username}}
                       <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li style="width:100%" class="dropdown-header"><span class="fa fa-cog"></span> Settings</li>
                    <li style="width:100%" class="divider"></li>
                    <li style="width:100%"><a (click)="changePassword()">Change Password</a></li>
                </ul>
            </div>
            <div *ngIf="losUser" class="dropdown" dropdown>
                <button id="top-nav-button" style="margin-top:9px; margin-right:8px; border-style:none; border-right-style:solid; background-color:transparent;  outline: none !important;
                        box-shadow: none; color:#333435" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                    dropdown-open><span class="fa fa-user"></span> {{username}}
                       <span class="caret"></span></button>
            </div>

        </li>

        <li *ngIf="forceChange !== 'yes'">
            <button id="menu1" class="btn btn-link" (click)="home()" type="button">
                    <i class="glyphicon glyphicon-home top-nav-title" style="font-size:1.2em"></i>
                    <span class="top-nav-title" xlabel="lnkHome" style="font-size:.8em">HOME</span>
                </button>
        </li>
        <li>
            <button (click)="logoutModal.show()" class="btn btn-link">
                    <i class="glyphicon glyphicon-log-out top-nav-title"  style="font-size:1.2em"></i>
                    <span class="top-nav-title" xlabel="lnkLogout" style="font-size:.8em">LOGOUT</span>
                </button>
        </li>
    </ul>


</div>

<generic-modal #logoutModal [messageKey]="'confirmLogout'" (emitAction)="logout()" [buttons]='[{"buttonName": "Yes", "buttonEmit": true}, {"buttonName": "No", "buttonEmit": false}]' [type]="'confirmation'"></generic-modal>
<!--session-timeout-modal #confirmationSessionExpiredModal (acceptTransaction)="forceLogout()" (denyTransaction)="checkSessExpired()"></session-timeout-modal-->
<!--error-modal [maxZIndex]="true" [redirectButton]="true" #forceLogoutModal (emitOk)="logout()"></error-modal-->