

<generic-table (emitType)="doAction($event)" [pagination]="pagination" #resultsTable (searchPagination)="filterOnPagination($event)" (selectedRow)="getSelectedCustomer()" [fieldContainer]="'customer'" [title]="'RESULTS'" [headers]="resultsHeaders" [results]="resultsResults" [type]="'single'" [keys]="resultsKeys" [buttons]="buttons"></generic-table>
<generic-modal  #errorModal [buttons]='[{"buttonName": "Ok", "buttonEmit": "false"}]' [type]="'error'"></generic-modal>
<add-payment [type]="'customer'" #addPaymentModal></add-payment>
 