<div class="col-sm-8">
 <fieldset class="section-content">
    <legend>
        <h5>DETAILS</h5>
    </legend>
    <div [formGroup]="changeForm" class="row form-horizontal">
       <div class="col-md-2">
       </div>
        <div class="col-md-8">
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="oldPass">Old Password<span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="oldPass" type="text" class="form-control">
                     <control-messages [control]="changeForm.controls.oldPass"></control-messages>
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="oldPass">New Password<span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="newPass" type="text" class="form-control">
                     <control-messages [control]="changeForm.controls.newPass"></control-messages>
                  </div>
             </div>
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="oldPass">Confirm Password<span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="confirmPass" type="text" class="form-control">
                     <control-messages [control]="changeForm.controls.confirmPass"></control-messages>
                  </div>
             </div> 
        

         </div>
          <div class="col-md-2">
         </div>
       

  </div>
    
 
    
        <div class="search-button-holder">
            <button type="button" (click)="changePassword();" class="btn btn-primary pull-right" >Change Password</button>
            <button type="button" (click)="clear()" class="btn btn-default" >Clear</button>
        </div>
    
  </fieldset>
</div>
<div class="col-sm-4">
  <div class="panel panel-default">
  <div class="panel-heading">Reminders</div>
  <div class="panel-body"><p>
    New password must at least be 8 Characters, changing
    will deactivate the changing of password for two days.
    Please make sure not to lose your new password.
   </p></div>
  </div>
</div>