

 <fieldset class="section-content">
    <legend>
        <h5>Sales Return Entries</h5>
    </legend>
    <div [formGroup]="salesForm" class="row form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-4" for="refNo">Ref No.</label>
                <div class="col-sm-9 col-md-8 field">
                <div class="input-group">
                   <input (keyup)="typeAheadRef($event)" formControlName="refNo" type="text" class="form-control">
                   <span class="input-group-btn">
                     <button (click)="resetRefNo()" class="btn btn-default" type="button">
                       Reset
                     </button>
                   </span>
                 </div>
                 <control-messages [control]="salesForm.controls.refNo"></control-messages>
                 </div>
               
            </div> 
             <div class="form-group">
                <label class="control-label col-sm-3 col-md-4" for="date">Date</label>
                <div class="col-sm-9 col-md-8 field">
                    <datepicker [id]="'date'" [controlName]="'date'" [form]="salesForm" [placeholder]="'MM/DD/YYYY'"></datepicker>
                    <control-messages [control]="salesForm.controls.date"></control-messages>
                </div>
            </div> 
           
        
         </div>
         <div class="col-md-6">
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="customer">Customer</label>
                 <div class="col-sm-9 col-md-8 field">
                      <select (change)="getCustomerDetails()" formControlName="customer" type="text" class="form-control">
                        <option value=""></option>
                        <option *ngFor="let data of customers" [value]="data.id">{{data.code}} | {{data.description}}</option>
                    </select>
                    <control-messages [control]="salesForm.controls.customer"></control-messages>
                  </div>
                  <label *ngIf="chosenCustomer" class="control-label col-sm-6 col-md-6" for="customer">Address: {{chosenCustomer?.address_1}}</label>
                  <label *ngIf="chosenCustomer" class="control-label col-sm-6 col-md-6" for="customer">Contact No: {{chosenCustomer?.cellphone}}</label>

             </div>
      
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="total">Total</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="total" type="text" class="form-control">
                  
                  </div>
             </div> 
         </div>

  </div>
    
 
    
        <div class="search-button-holder">
            <button type="button" (click)="addEntry();" class="btn btn-primary pull-right" >Add Item</button>
            <button type="button" (click)="addNewCustomer()" class="btn btn-default" >Add New Customer</button>
        </div>
    
  </fieldset>
  <generic-modal  #errorModal [buttons]='[{"buttonName": "Ok", "buttonEmit": "false"}]' [type]="'error'"></generic-modal>
  <generic-modal (emitAction)="suspendTransaction()"  #infoModalSuspend [buttons]='[{"buttonName": "No", "buttonEmit": false}, {"buttonName": "Yes", "buttonEmit": true}]' [type]="'confirmation'"></generic-modal>
  <generic-modal (emitAction)="postTransaction()"  #infoModalPost [buttons]='[{"buttonName": "No", "buttonEmit": false}, {"buttonName": "Yes", "buttonEmit": true}]' [type]="'confirmation'"></generic-modal>
  <app-add-customer #addCustomer></app-add-customer>
  <generic-table (emitChangeEdit)="changeValueOnEditTable($event)" [paginationActive]="false" [removeRow]="true" (emitRemoveRow)="removeRow($event)" (emitType)="doAction($event)" [buttons]="buttons" #resultsTable [title]="'ITEMS'" [headers]="resultsHeaders" [results]="resultsResults" [type]="'single'" [keys]="resultsKeys"></generic-table>
  <app-add-sales-entry [addTitle]="'Add Sales Return Entry'" [type]="'salesReturn'" #addSalesEntry (entry)="pushNewItem($event)"></app-add-sales-entry>
  <app-suspended-sales [type]="'salesreturn'" (emitSale)="retrieveSuspendedSale($event)" #suspendedSales></app-suspended-sales>
  <app-item-in-out-modal #itemInOutModal></app-item-in-out-modal>