//VARIABLES
$fonts: "Lato";
$global-color:#03603b;
$menu-colors: #19491d;
$menu-border-colors: #074d24;
$submenu-colors:#1e995d;
$button: 0px;
$sidebar-color: green;
$main-submenu-button-color:#00260e;
$main-submenu-button-hover-color: #2d8954;
$menu-menu-hover-color:#0f2603;
$top-nav-color:#535450;
$btn-primary-color: green;
$btn-primary-color-hover:#234412;
$btn-link-color: green;
$btn-link-color-hover: #234412;
$table-header-color: #087a3b;
$loading-animation-color: rgb(54, 52, 52);
$header-border-color: green;
//MIXINS
@import 'mixins';

//FONT PROPERTIES AND GENERIC STYLE 
@font-face {
    font-family: $fonts;
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(./font/Lato.ttf);
}
a { cursor: pointer;}
body,
input,
select,
textarea,
table,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font: 16px $fonts;
}
button {
    @include border-radius(0px !important);
}
.btn-primary{
    background: $btn-link-color;
    border: $btn-link-color;
}
.btn-primary:hover {
    background: $btn-primary-color-hover;
    border: $btn-primary-color-hover;
}
.btn-primary:focus {
    background: $btn-primary-color-hover;
    border: $btn-primary-color-hover;
}
.btn-link{
    color: $btn-link-color;
}
.btn-link:hover{
    color: $btn-link-color-hover;
}
.btn-link:focus{
    color: $btn-link-color-hover;
}
h1 {  @include header-attribute(1.5em,  $global-color, bold);}

h2 {
    @include header-attribute(1.3em, $global-color , "");
    padding: 5px 15px;
    letter-spacing: 0;
    text-transform: none;
    text-align: left !important;
}

h3 {
    @include header-attribute(1.0em, white , bold);
    text-transform: uppercase;
}

h4 {
    @include header-attribute(0.9em, black , "");
    @include margin-padding-attribute(0px, 0px );
}

h5 {
    @include header-attribute(0.6em, black , bold);
    @include margin-padding-attribute(0px, 0px );
}
h6 {
    @include header-attribute(0.5em, $global-color , bold);
    @include margin-padding-attribute(0px, 0px );
}
ul,
ol { font-size: 0.8em;}
ol {
    @include margin-padding-attribute(0 0 10px,  5px 10px 10px 25px );
    list-style-position: outside;
    list-style: decimal !important;
}
ul { padding: 0;}
ul>li {
    list-style: none;
    @include margin-padding-attribute(0px, 0px );
}
.pagination .btn, .pagination .form-control{
    border: 1px solid #ccc; 
    height: 30px; 
    padding: 6px 5px; 
    vertical-align: middle; 
    font-size: 0.5m; 
    color: #999; 
    margin-top: -6px; 
}

ul.pagination{
    display: inline-flex !important;
}
ul.pagination>li{
    padding:2px;
}
.paginationTab{
    font-size: 13px;
}

// CSS PASSWORD METER
.pw-meter {
    margin-top: -5px;
    border-color: #333333;
}
.pw-meter-bar {
    margin-top: -5px;
    background: #FFF !important;
    border: 1px solid;
    border-color: #cccccc !important;
    display: inline-block;
    height: 5px;
    width: 100%;
    position: relative;
}

.pw-meter-status {
    padding-top: 2px;
    float: right;
    background: transparent !important;
    font-size: 0.85em;
}

.pw-meter i {
    padding-top: 2px;
    float: right;
    color: #0066cc;
    display: inline-block;
    margin-right: 5px;

}

.pw-meter-progress {
    background: #cccccc;
    width: 0%;
    height: 4px;
    border: none;
}

.pw-passwordMeter-strength0 {
    background: '';
    border-color: '';
    color: #333333;
}

.pw-passwordMeter-strength1 { @include password-meter-attribute(#F00, #F00);}
.pw-passwordMeter-strength2 { @include password-meter-attribute(#F90, #F90);}
.pw-passwordMeter-strength3 { @include password-meter-attribute(#FC0, #FC0);}
.pw-passwordMeter-strength4 {@include password-meter-attribute(#9C0, #9C0);}
.pw-passwordMeter-strength5 {@include password-meter-attribute(#0C0, #0C0);}

.loading-animation{
    background: $loading-animation-color !important;
}

.header{
    border-bottom-color: $header-border-color !important;
}

//MENU BAR 
#wrapper {
    padding-left: 250px;
    height: 100%;
    @include transition(all 0.5s ease);
   
}

#wrapper.toggled {
    padding-left: 5px;
}

#sidebar-wrapper {
    @include transition(all 0.5s ease);
    z-index: 1000;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    position: fixed;
    background: white;
    background-color: $menu-colors;
}

#sidebar-button-wrapper {
    @include transition(all 0.5s ease);
    z-index: 1000;
    left: 250px;
    width: 20px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
 
}

.main-menu-button {
    @include transition(all 0.5s ease);
    color: #FFFFFF;
    background-color: $menu-colors;
    border-radius: 0px;
    padding: 6px;
    width: 100%;
    border-color: $menu-border-colors;
    border-bottom-color: rgba(256, 256, 256, 0.1) !important;
    border-bottom-width: 2.5px;
    white-space: normal;
    text-align: left;
  
}
.main-menu-button:hover{
   background-color: $menu-menu-hover-color;
   border-color: $menu-menu-hover-color;
}
.main-menu-button:focus{
    outline: 0;
    background-color: $menu-menu-hover-color;
    border-color: $menu-menu-hover-color;
 }
.main-submenu-button {
    @include menu-attribute($main-submenu-button-color, $main-submenu-button-color, #FFFFFF);
    border-radius: 0px;
    padding: 6px;
    width: 100%;
    white-space: normal;
    text-align: left;
}

.main-submenu-button:hover {
    @include menu-attribute($main-submenu-button-hover-color, $main-submenu-button-hover-color, "");
}

.main-second-submenu-button {
    @include menu-attribute(#272728, #272728, white);
    width: 100%;
    font-size: 11px;
    white-space: normal;
    text-align: left;
}

.main-second-submenu-button:hover {
    @include menu-attribute($submenu-colors, $submenu-colors, white);
    transition: background 0.4s ease;
}

.main-second-submenu-button:focus {
    @include menu-attribute($submenu-colors, $submenu-colors, white);
}

.active-submenu {
    @include menu-attribute($submenu-colors, $submenu-colors, white);
    width: 100%;
    font-size: 11px;
    white-space: normal;
}
#wrapper.toggled #sidebar-wrapper { left: 0;}
#wrapper.toggled #sidebar-button-wrapper { left: 0px;}
#page-content-wrapper {
    padding: 30px;
    overflow: auto;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper #sidebar-button-wrapper {
    position: absolute;
    margin-right: -250px;
}


.navbar-toggle {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 2%;
    margin-right: 3%;
    padding: 1px;
}

.navbar-toggle:hover {
    background-color: $global-color;
    color: white;
    transition: background 0.5s ease;
}

.sidebar-nav {
    z-index: 1000;
    position: relative;
    width: 100%;
    margin-top: 0.5%;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 83%;
    overflow-y: auto;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus { text-decoration: none;}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {  color: #999999;}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-toggle {
    width: 100%;
    padding-right: 0.5px !important;
    padding-left: 0.5px !important;
    height: 90%;
    background-color: $sidebar-color;
    color: white;
    border: none;
    font-size: 11px;
}

.sidebar-toggle:focus {outline: none !important;}

.sidebar-toggle-two:focus {outline: none !important;}

.sidebar-toggle-two {
    width: 100%;
    padding-right: 0.5px !important;
    padding-left: 0.5px !important;
    height: 7%;
    background-color: $sidebar-color;
    color: white;
    border: none;
    font-size: 11px;
}

/*****************/
//HEADER COMPONENT

#app-brand {
    display: inline-block;
}

#app-logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: url("../img/login-header-background.png") left no-repeat;
    height: 80px;
    width: 300px;
    margin: 0 20 0 0px;
    color: #999;
    text-transform: uppercase;
}

#app-name {
    display: none;
}

#app-menu {
    left: 0;
    background: #E8F2D5;
}

#top-nav {
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
}

.top-nav-title, #top-nav-button{
    color: $top-nav-color !important;
}

#top-nav li {
    text-align: center;
    position: relative;
}

#top-nav li:hover {
    background: #f9f9f9;
}

#top-nav li button:link,
#top-nav li button:focus,
#top-nav li button:visited {
    color: #090;
    text-decoration: none;
    background: #f9f9f9;
    outline: 0;
}

#top-nav li button:hover {
    color: #090;
    text-decoration: none;
}

#top-nav li.active * {
    color: #CCC;
    cursor: default;
}

#top-nav li.active:hover {
    background: none;
}

.top-nav-active {
    color: #090;
    text-decoration: none;
    background: #f9f9f9;
}

.top-nav-title {
    display: block;
    text-align: center;
}

.badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #F00 !important;
}

/***********************/
//TEXT FIELDS AND BUTTONS
.ng-touched.ng-invalid {
    border-color: red;
}

/*datepicker.ng-touched.ng-invalid>div>input {
    border-color: red;
}*/

.input-group-btn .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: normal;
}

.btn-default[disabled],
.btn-default[disabled]:hover,
.input-group-btn .btn-default[disabled],
.input-group-btn .btn-default[disabled]:hover {
    background: #eee;
    color: #333;
}

.input-group-btn.input-space {
    padding-left: 15px;
}
.input-group-btn .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: normal;
}


.form-control,
.form-control-static,
.label-unit,
.checkbox label,
.radio label,
.form-inline{
    font-size: 0.75em;
    color: #333;
    font-weight: 500;
}

.control-label{
    font-size: 0.75em;
    color: #333;
    font-weight: 700;
    text-align: right;
}

input.form-control {
    @include appearance-attribute(none);
    @include border-radius(0px);
}

.form-group {
    margin-bottom: 5px !important;
}

.form-control {
    height: auto;
    padding: 4px 12px;
}
.search-button-holder {
    @include margin-padding-attribute(0.5, 10px 0);
    display: block;
    clear: both;
    text-align: right;
    margin-bottom: 0px !important;
}

.search-button-holder .btn {margin: 0 3px;}

.search-button-holder>.btn {
    @include border-radius(5px !important);
}

select.form-control {
    @include border-radius(0px);
    @include appearance-attribute(none);
    background: url("../img/dropdown-arrow.png") no-repeat;
    background-position: 98% center;
    background-size: 1em;
}

.select.form-control {
    @include appearance-attribute(none);
    background: url("../img/dropdown-arrow.png") no-repeat;
    background-position: 98% center;
    background-size: 1em;
    z-index: 51;
}

legend {
    width: auto;
    background: none;
    margin: 10px 0 5px;
}

.go-to-page::-webkit-inner-spin-button,
.go-to-page::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    font-size: 12px;
}

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

/******************************/
//MAP API
agm-map {
	height: 300px;
  }

/******************************/
//GENERIC TABLE
th{
    background: $table-header-color;
}