<fieldset class="section-content">
    <legend>
        <h5>Generate Sales Counter Receipts</h5>
    </legend>
    <div [formGroup]="form" class="form-horizontal">
      <div class="row">
        <div class="col-md-6">
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="refNo">Counter Receipt No.</label>
                 <div class="col-sm-9 col-md-8 field">
                    <div class="input-group">
                      <input (keyup)="typeAheadRef($event)" formControlName="counterReceiptNo" type="text" class="form-control">
                      <span class="input-group-btn">
                        <button (click)="resetRefNo()" class="btn btn-default" type="button">
                          Reset
                        </button>
                      </span>
                    </div> 
                     <control-messages [control]="form.controls.counterReceiptNo"></control-messages>
                  </div>
             </div> 
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-4" for="date">Counter Date</label>
                <div class="col-sm-9 col-md-8 field">
                    <datepicker [id]="'counterDate'" [controlName]="'counterDate'" [form]="form" [placeholder]="'MM/DD/YYYY'"></datepicker>
                    <control-messages [control]="form.controls.counterDate"></control-messages>
                </div>
            </div> 
         
         </div>
         
      </div>
      <hr>
      <div class="row">
         <div class="col-md-6">
        <div class="form-group">
                    <label class="control-label col-sm-3 col-md-4" for="dateFrom">Date From</label>
                        <div class="col-sm-9 col-md-8 field">
                            <div class="date-field1">
                                <datepicker [id]="'dateFrom'" [controlName]="'dateFrom'" [form]="form" [placeholder]="'MM/DD/YYYY'"></datepicker>
                                <control-messages [control]="form.controls.dateFrom"></control-messages>
                             </div>

                            <div class="date-field2">
                               <datepicker [id]="'dateTo'" [controlName]="'dateTo'" [form]="form" [placeholder]="'MM/DD/YYYY'"></datepicker>
                                 
                             </div>
                      </div>
          </div>
         </div>
         <div class="col-md-6">
               <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="customer">Customer</label>
                 <div class="col-sm-9 col-md-8 field">
                    <select formControlName="customer" type="text" class="form-control">
                        <option value=""></option>
                        <option *ngFor="let data of customers" [value]="data.code">{{data.code}} | {{data.description}}</option>
                       </select>
                  </div>
             </div>
       
         </div>
      </div>

  </div>
    

        <div class="search-button-holder">
            <button type="button" (click)="filter()" class="btn btn-primary" >Filter</button>
        </div>
    
  </fieldset>
  <app-add-customer #addCustomer></app-add-customer>
  <generic-table (searchPagination)="filterOnPagination($event)"  (emitColumnClicked)="viewCounterReceipts($event)" [removeRow]="false"  [buttons]="buttons" #resultsTable [title]="'RECEIPTS'" [headers]="resultsHeaders" [results]="resultsResults" [type]="'single'" [keys]="resultsKeys"></generic-table>

  <view-counter-receipts-modal #viewReceiptsModal></view-counter-receipts-modal>