
 <fieldset class="section-content">
    <legend>
        <h5>Purhase Entries</h5>
    </legend>
    <div [formGroup]="purchaseForm" class="row form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-4" for="refNo">Ref No.</label>
                <div class="col-sm-9 col-md-8 field">
                <div class="input-group">
                   <input (keyup)="typeAheadRef($event)" formControlName="refNo" type="text" class="form-control">
                   <span class="input-group-btn">
                     <button (click)="resetRefNo()" class="btn btn-default" type="button">
                       Reset
                     </button>
                   </span>
                 </div>
                 <control-messages [control]="purchaseForm.controls.refNo"></control-messages>
                 </div>
               
            </div>  
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-4" for="date">Date</label>
                <div class="col-sm-9 col-md-8 field">
                    <datepicker [id]="'date'" [controlName]="'date'" [form]="purchaseForm" [placeholder]="'MM/DD/YYYY'"></datepicker>
                    <control-messages [control]="purchaseForm.controls.date"></control-messages>
                </div>
            </div> 
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="wcrc">Currency</label>
                 <div class="col-sm-9 col-md-8 field">
                     <select formControlName="currency" type="text" class="form-control">
                       <option value="yuan">Yuan</option>
                       <option value="peso">Philippine Peso</option>
                    </select>
                    <control-messages [control]="purchaseForm.controls.currency"></control-messages>
                  </div>
             </div> 


         </div>
         <div class="col-md-6">
               <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="supplier">Supplier</label>
                 <div class="col-sm-9 col-md-8 field">
                     <select (change)="getSupplierDetails()" formControlName="supplier" type="text" class="form-control">
                        <option value=""></option>
                        <option *ngFor="let data of suppliers" [value]="data.id">{{data.code}} | {{data.description}}</option>
                    </select>
                    <control-messages [control]="purchaseForm.controls.supplier"></control-messages>
                  </div>
                  <label *ngIf="chosenSupplier" class="control-label col-sm-6 col-md-6" for="customer">Address: {{chosenSupplier?.address_1}}</label>
                  <label *ngIf="chosenSupplier" class="control-label col-sm-6 col-md-6" for="customer">Contact No: {{chosenSupplier?.telephone}}</label>

             </div>
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="refNo">Terms</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="terms" type="text" class="form-control">
                     <control-messages [control]="purchaseForm.controls.terms"></control-messages>
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="totalpeso">Total (Peso)</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="totalpeso" type="text" class="form-control">
                  
                  </div>
             </div>
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="totalyuan">Total (Yuan)</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="totalyuan" type="text" class="form-control">
                  
                  </div>
             </div> 
         </div>

  </div>
    
 
    
        <div class="search-button-holder">
            <button type="button" (click)="addEntry();" class="btn btn-primary pull-right" >Add Item</button>
            <button type="button" (click)="addNewSupplier()" class="btn btn-default" >Add New Supplier</button>
        </div>
    
  </fieldset>

  <generic-modal  #errorModal [buttons]='[{"buttonName": "Ok", "buttonEmit": "false"}]' [type]="'error'"></generic-modal>
  <generic-modal (emitAction)="suspendTransaction()"  #infoModalSuspend [buttons]='[{"buttonName": "No", "buttonEmit": false}, {"buttonName": "Yes", "buttonEmit": true}]' [type]="'confirmation'"></generic-modal>
  <generic-modal (emitAction)="postTransaction()"  #infoModalPost [buttons]='[{"buttonName": "No", "buttonEmit": false}, {"buttonName": "Yes", "buttonEmit": true}]' [type]="'confirmation'"></generic-modal>
  <app-add-supplier #addSupplier></app-add-supplier>
  <generic-table (emitChangeEdit)="changeValueOnEditTable($event)" [paginationActive]="false" [removeRow]="true" (emitRemoveRow)="removeRow($event)" (emitType)="doAction($event)" [buttons]="buttons" #resultsTable [title]="'ITEMS'" [headers]="resultsHeaders" [results]="resultsResults" [type]="'single'" [keys]="resultsKeys"></generic-table>
  <app-add-sales-entry [addTitle]="'Add Purchase Entry'" [type]="'purchase'" #addSalesEntry (entry)="pushNewItem($event)"></app-add-sales-entry>
  <app-suspended-sales [type]="'purchase'" (emitSale)="retrieveSuspendedPurchase($event)" #suspendedSales></app-suspended-sales>
  <app-item-in-out-modal #itemInOutModal></app-item-in-out-modal>