<div id="container">
       <div id="content">
           <div style="text-align:center;">
              <h1 style="font-size: 100px; color:#13366d ">404<span class="fa fa-exclamation"></span></h1>
              <p>Page not found</p>
               <hr style="margin-bottom: 100px">
              <h5  style="margin-top:-15px;" style="font-size: 20px;"><b>The page you are trying to open cannot be found</b></h5>
              <h6 style="margin-top:-1px;">Please contact system administrator for assistance</h6>
              <br>
              <button style="background-color:#337ab7" type="button"  class="btn btn-primary contact-button">
              Login Page <span class="glyphicon glyphicon-home"></span>
              </button>
            </div>

       </div>
   </div>

