<div bsModal #addSalesEntryModal="bs-modal" class="modal generic-modal-comp fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!--MODAL CONTENT -->
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="text-center" class="modal-title"><b>{{addTitle}}</b></h4>
      </div>
      <div class="modal-body">
     <div [formGroup]="salesEntryGroup">
      <fieldset *ngIf="type === 'sales' || type === 'salesReturn' || type == 'invDamage'" class="section-content">
        <legend>
          <h5>ENTRY</h5>
        </legend>
        <div class="row form-horizontal">
        <div class="col-md-12">
      
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-2" for="description">Agent <span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-10 field">
                     <select formControlName="agent" class="form-control">
                       <option *ngFor="let agent of agents" [value]="agent.value">{{agent.label}}</option>
                     </select>
                     <control-messages [control]="salesEntryGroup.controls.agent"></control-messages>
                  </div>
             </div> 
 
             
         </div>

          <div class="col-md-6">
             <div class="form-group" *ngIf="type === 'salesReturn' || type === 'invDamage'">
                 <label class="control-label col-sm-3 col-md-4" for="itemCode">Warehouse <span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-8 field">
                     <label class="control-label"><input formControlName="warehouse"  type="radio"  value="W1">W1</label>
                      <label class="control-label"><input formControlName="warehouse"  type="radio" value="W2">W2</label>
                    <control-messages [control]="salesEntryGroup.controls.warehouse"></control-messages>
                  </div>
             </div>
         </div>
          <div class="col-md-6">
              <div class="form-group" *ngIf="type === 'salesReturn'">
                 <label class="control-label col-sm-3 col-md-4" for="good">Good <span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-8 field">
                     <label class="control-label"><input formControlName="good"  type="radio" value="Y">Yes</label>
                      <label class="control-label"><input formControlName="good"  type="radio"  value="N">No</label>
                      <control-messages [control]="salesEntryGroup.controls.good"></control-messages>
                  </div>
             </div>
         </div>
         </div>
         <hr>
        <div class="col-md-6">
            <div class="form-group">
               <label class="control-label col-sm-3 col-md-4" for="itemCode">Item Code</label>
               <div class="col-sm-9 col-md-8 field">
                   <input formControlName="itemCode"  type="text" class="form-control">
                </div>
           </div>
       
       </div>
        <div class="col-md-6">
             <div class="form-group">
               <label class="control-label col-sm-3 col-md-4" for="description">Category</label>
               <div class="col-sm-9 col-md-8 field">
                   <input formControlName="category"  type="text" class="form-control">
                   
                </div>
           </div>
    
       </div>
      </fieldset>
      <fieldset *ngIf="type === 'purchase' || type === 'purchaseReturn'" class="section-content">
        <legend>
          <h5>ENTRY</h5>
        </legend>
        <div class="row form-horizontal">
        <div class="col-md-12">
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-2" for="description">Warehouse <span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-10 field">
                     <select formControlName="warehouse" class="form-control">
                       <option  value="W1">W2</option>
                       <option  value="W2">W1</option>
                     </select>
                     <control-messages [control]="salesEntryGroup.controls.agent"></control-messages>
                  </div>
             </div> 
 
        </div>
  
          <div class="col-md-12">
          <div class="form-group" *ngIf="type === 'purchaseReturn'">
                 <label class="control-label col-sm-3 col-md-2" for="good">Good <span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-10 field">
                     <label class="control-label"><input formControlName="good"  type="radio" value="Y">Yes</label>
                      <label class="control-label"><input formControlName="good"  type="radio"  value="N">No</label>
                      <control-messages [control]="salesEntryGroup.controls.good"></control-messages>
                  </div>
             </div>
         </div>
         
      
         </div>
        <hr>
        <div class="col-md-6">
            <div class="form-group">
               <label class="control-label col-sm-3 col-md-4" for="itemCode">Item Code</label>
               <div class="col-sm-9 col-md-8 field">
                   <input formControlName="itemCode"  type="text" class="form-control">
                </div>
           </div>
       
       </div>
        <div class="col-md-6">
             <div class="form-group">
               <label class="control-label col-sm-3 col-md-4" for="description">Category</label>
               <div class="col-sm-9 col-md-8 field">
                   <input formControlName="category"  type="text" class="form-control">
                   
                </div>
           </div>
    
       </div>

      </fieldset>
       <generic-table #entryTable [title]="'ITEMS'" [headers]="entryHeaders" [results]="entryResults" [type]="'single'" [keys]="entryKeys" (emitColumnClicked)="itemInOutModal($event)"></generic-table>
        <fieldset class="section-content">
        <legend>
          <h5>OTHER DETAILS</h5>
        </legend>
        <div class="row form-horizontal">
          <div class="col-md-6">
               <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="lastprice">Last/Overwrite Price</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input (change)="historyWarning($event)" Formatter='{"type": "number"}' formControlName="lastprice"  type="text" class="form-control">
                  </div>
             </div>
         </div>
          <div class="col-md-6">
               <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="description">Quantity <span class="fa fa-asterisk"></span></label>
                 <div class="col-sm-9 col-md-8 field">
                     <input Formatter='{"type": "number"}' formControlName="quantity"  type="text" class="form-control">
                     <control-messages [control]="salesEntryGroup.controls.quantity"></control-messages>
                  </div>
             </div>
         </div>
         </div>
      </fieldset>
    </div>
  
      </div>
      <div class="modal-footer">
        <div>
          <ng-container >
              <button class="btn btn-default" (click)="hide()">Close</button>
             <button class="btn btn-primary" (click)="addEntry()">Add</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
 <app-item-in-out-modal #itemInOutModalEntry></app-item-in-out-modal>
<generic-modal #errorModal [buttons]='[{"buttonName": "Ok", "buttonEmit": "false"}]' [type]="'error'"></generic-modal>
<generic-modal #historyModal [buttons]='[{"buttonName": "No", "buttonEmit": "false"},  {"buttonName": "Yes", "buttonEmit": "true"}]' [type]="'error'" (emitAction)="historyChange()"></generic-modal>