<div class="search-button-holder">
            <button type="button" (click)="print()" class="btn btn-default" ><span class="glyphicon glyphicon-print"></span> Print</button>
</div>

<tabset>
  <tab heading="Broswe Form">
       <fieldset class="section-content">
    <legend>
        <h5>BROWSE FORM</h5>
    </legend>
    <div [formGroup]="formGroup" class="row form-horizontal">
        <div class="col-md-6">
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="productLineFilter">Customer Code Filter</label>
                 <div class="col-sm-9 col-md-8 field">
                      <input formControlName="customer"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="categoryFilter">Description Filter</label>
                 <div class="col-sm-9 col-md-8 field">
                      <input formControlName="description"  type="text" class="form-control">
                  </div>
             </div> 
         </div>
         <div class="col-md-6">
              <div  class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="totalInventoryCost">Agent Filter</label>
                 <div class="col-sm-9 col-md-8 field">
                    <input formControlName="agent"  type="text" class="form-control">
                 </div>
             </div>
         </div>

  </div>
    
 
    
        <div class="search-button-holder">
            <button type="button" (click)="filter();" class="btn btn-primary pull-right" >Filter</button>
            <button type="button" (click)="addNewCustomer()" class="btn btn-default" >Add New Customer</button>
        </div>
    
   </fieldset>
   <generic-table [pagination]="pagination" #resultsTable (searchPagination)="filterOnPagination($event)" (selectedRow)="getSelectedCustomer()" [fieldContainer]="'customer'" [title]="'RESULTS'" [headers]="resultsHeaders" [results]="resultsResults" [type]="'single'" [keys]="resultsKeys"></generic-table>

  </tab>
  <tab heading="Card Form">
  
    <div [formGroup]="browseForm">
      <fieldset class="section-content">
        <legend>
          <h5>PERSONAL DETAILS</h5>
        </legend>
        <div class="row form-horizontal">
        <div class="col-md-6">
      
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="customerCode">Customer Code</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="code"  type="text" class="form-control">
                  </div>
             </div>
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="description">Description</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="description"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="address">Address</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="address_1"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="address2">Address 2</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="address_2"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="telephone">Telephone</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="telephone"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="cellphone">Cellphone</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="cellphone"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="residentPhone">Resident Phone</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="resident_phone"  type="text" class="form-control">
                  </div>
             </div> 
            
         </div>

          <div class="col-md-6">
             <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="agent">Agent</label>
                 <div class="col-sm-9 col-md-8 field">
                     <select class="form-control" formControlName="agent">
                         <option value=""></option>
                         <option *ngFor="let agent of agents" [value]="agent.name">{{agent.name}}</option>
                     </select>
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="tinNo">Tin No.</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="tin_number"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="email">Email</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="email"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="fax">Fax</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="fax"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="contactPerson">Contact Person</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="contact_person"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="terms">Terms</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="terms"  type="text" class="form-control">
                  </div>
             </div> 
         </div>
         </div>
      </fieldset>
      <fieldset class="section-content">
        <legend>
        <h5>OTHER DETAILS</h5>
        </legend>
        <div class="row form-horizontal">
        <div class="col-md-6">
           <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="creditLimit">Credit Limit</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="credit_limit"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="initialBalance">Inital Balance</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="initial_balance"  type="text" class="form-control">
                  </div>
             </div> 
        </div>
         <div class="col-md-6">
           <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="remainin">Remaining</label>
                 <div class="col-sm-9 col-md-8 field">
                     <input formControlName="remaining"  type="text" class="form-control">
                  </div>
             </div> 
              <div class="form-group">
                 <label class="control-label col-sm-3 col-md-4" for="customerType">Customer Type</label>
                 <div class="col-sm-9 col-md-8 field">
                      <label  class="control-label">Wholesale <input type="radio" formControlName="customer_type" value="WC" ></label>
                     <label  class="control-label">Retail <input type="radio" formControlName="customer_type"  value="RC"  ></label>
                  </div>
             </div> 
        </div>
        <div class="col-md-12">
          <div class="form-group">
                 <label class="control-label col-sm-3 col-md-2" for="remarks">Remarks</label>
                 <div class="col-sm-9 col-md-10 field">
                     <textarea class="form-control" formControlName="remarks"></textarea>
                  </div>
             </div> 
        </div>
        </div>
        <div class="search-button-holder">
            <button type="button" (click)="editDetails()" class="btn btn-default" >Edit Details</button>
        </div>
      </fieldset>
    </div>
   
     <generic-table #pricingTable [title]="'COSTING'" [headers]="pricingHeaders" [results]="pricingResults" [type]="'single'" [keys]="pricingKeys"></generic-table>
  </tab>
</tabset>
<app-add-customer #addCustomerModal></app-add-customer>


